body {
    background-color:#FFFAF0;
    background-image: url('../images/TimeBot-banner.png');
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: center;
}

p {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Yanone Kaffeesatz;
}

h1 {
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

input {
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
}